@mixin flex($direction, $property1, $property2) {
  display: flex;
  flex-direction: $direction;
  justify-content: $property1;
  align-items: $property2;
}

@mixin font($size, $color) {
  font-size: $size;
  font-family: "Manrope", sans-serif;
  color: $color;
}

@mixin font-size($laptop, $tablet, $mobile) {
  @media screen and (min-width: $tablet) and (max-width: $laptop) {
    font-size: 12px;
  }
  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    font-size: 11px;
  }

  @media screen and (max-width: $mobile) {
    font-size: 10px;
  }
}

@mixin card($laptop, $tablet, $mobile) {
  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    flex-direction: column;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }
}

@mixin img($laptop, $tablet, $mobile, $radius) {
  @media screen and (min-width: $tablet) and (max-width: $laptop) {
    max-width: 40%;
    height: auto;
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    max-width: 100%;
    border-radius: $radius $radius 0px 0px;
  }
  @media screen and (max-width: $mobile) {
    max-width: 100%;
    border-radius: $radius $radius 0px 0px;
  }
}

@mixin card-content($laptop, $tablet, $mobile, $radius) {
  @media screen and (min-width: $tablet) and (max-width: $laptop) {
    padding: 2rem;
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    padding: 3rem;
    border-radius: 0px 0px $radius $radius;
  }
  @media screen and (max-width: $mobile) {
    padding: 1rem;
    border-radius: 0px 0px $radius $radius;
  }
}

@mixin margin($laptop, $tablet, $mobile) {
  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    margin: 1rem;
  }
  @media screen and (max-width: $mobile) {
    margin: 2rem;
  }
}

@mixin main-pad($laptop, $tablet, $mobile) {
  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    padding: 5rem;
  }
  @media screen and (max-width: $mobile) {
    padding: 2rem;
  }
}

@mixin content-class($laptop,$tablet,$mobile){
  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    margin: 0px;
    font-size: 1.5rem;
  }
  @media screen and (max-width: $mobile) {
    margin: 0px;
    font-size: 1.2rem;
  }
}

@mixin img-class($laptop,$tablet,$mobile){
  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    max-width: 20%;
   
  }
  @media screen and (max-width: $mobile) {
    max-width: 20%;
    
  }
}

@mixin h1($laptop,$tablet,$mobile){
  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    font-size: 1.5rem;
   
  }
  @media screen and (max-width: $mobile) {
    font-size: 1.5rem;
  }
}

@mixin menu($laptop,$tablet,$mobile){

  @media screen and (min-width: $tablet) and (max-width: $laptop),(min-width:$laptop) {
    bottom: 110px;
    right: -56px;
    width: 18rem;
    height: 5rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 61% 75%, 51% 100%, 38% 75%, 0% 75%);
    li{

      margin: 0px auto;
      cursor: pointer;
      &:nth-child(1){
          padding:0rem 1rem;
          
      }
    }
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    bottom: 0px;
    left: 0px;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    padding: 3.5rem;
    li{
      padding: 0px 10px;
    }
   
  }

  @media screen and (max-width: $mobile) {
    bottom: 0px;
    left: 0px;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    padding: 2rem;
    li{
      padding: 0px 10px;
    }
  }

}

@mixin active-prop($laptop,$tablet,$mobile){
  @media screen and (min-width: $tablet) and (max-width: $laptop),(min-width:$laptop) {
    background-color: hsl(217, 19%, 35%) !important; 
  }

  @media screen and (max-width: $tablet){
    background-color:hsl(214, 17%, 51%)!important; 
  } 


}

@mixin iconmargin($mobile) {
    @media screen and (max-width:$mobile) {
      margin: -8px 16px;
    }
}