@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

$blue1:hsl(210, 46%, 95%);
$blue2: hsl(212, 23%, 69%);
$blue3: hsl(214, 17%, 51%);
$blue4:hsl(217, 19%, 35%);
$blue5:hsl(214, 23%, 12%);
$radius:20px;
$manrope:'Manrope', sans-serif;

//breakpoints 

